@model IEnumerable<PizzaDoMario.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CadastroCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CadastroCliente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
