@model PizzaDoMario.Models.ItemVenda

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroCliente.bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CadastroProduto.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdItemVenda">Editar</a> |
    <a asp-action="Index">Volta à lista</a>
</div>
